.movie__list {
  &-items {
    .movie_image {
      img {
        max-width: 100%;
        width: auto;
      }
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 50px 0;
    border-bottom: 1px solid white;
  }

  .text {
    .button {
      button {
        padding: 7px 20px;
        border: 1px solid #000;
        font-size: 16px;
        color: white;
        font-weight: bold;

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      .edit {
        background-color: rgb(19, 182, 41);
      }
      .delete {
        background-color: red;
      }
      margin-top: 20px;
    }

    > div {
      b {
        color: rgb(0, 195, 255);
        grid-column: 1/2;
      }

      .content {
        grid-column: 2/6;
      }

      margin: 10px 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
    }
  }
  line-height: 1.5;
  padding: 20px;
}
